body {
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
}

.game-container {
    display: flex;
    /* width: 50%; */
    flex-direction: column;
    padding: 0 10%;
}

.game-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    /* padding-bottom: 1em; */
}

.green {
    background-color: #6aaa64;
}

.yellow {
    background-color: #cab458;
}

.blank {
    background-color: #fff;
}

.tile {
    /* padding: 10px 20px; */
    background-color: white;
    margin: 5px 10px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    text-transform: uppercase;
  }